// Colors
$grey: #333;
$light-grey: #FAFAFA;
$light-grey-border: #EEE;
$light-color: #AAA;
$off-white: #FFEDED;
$purple: #362C6A;
$lavender: #936EA1;
$pink: #db6fa2;
$light-pink: #F1DBE8;
$bubblegum: #C9A0B8;
$light-blue: #91A5B9;
$orange: #FFA9A2;
$light-red: #D46A6A;
$red: #AA3939;
$green: #00ad61;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Brawler');

$YesterYear: 'YesterYear', cursive;
$Brawler: 'Brawler';


$imagePath : "/images";
