.alert {
	text-align: center;
}

.current-pick-info{
	font-size: 48px;
	text-align: center;
	background-color: #FFF;
	border: .5px solid #362C6A ;
	color: #362C6A;
	font-family: 'Yesteryear', cursive;;
}

.current-week {
	font-size: 48px;
	color: #133453;
	font-weight: bold;
	padding-left: 3rem;
	text-align: center;
}

.footer-large {
	margin: 6rem;
	text-align: center;
	color: #133453;
}

.hero-home {
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color: #FFF;
	color: #362C6A;
}

.hero-title {
	font-family: 'Yesteryear', cursive;
	font-size: 108px;
	color: #133453;
	padding-left: 3rem;
}

.history {
	padding-top: 1.5rem;
	background-color: #FFF;
	color: #133453;
	height: 90vh;
	border-style: none;
}

.history-body > tr:nth-child(even) {
	background-color: #362C6A;
	color: #FFF;
}

.history-body > tr:nth-child(odd) {
	color: #362C6A;
}

.history-header {
	color: #133453;
	background-color: #FFF;
	border-style: none;
}	

#home > span {
	font-size: 28px;
	font-weight: bold;
	padding-left: 5rem;
}
.inProgress {
	background-color: #D3D3D3;
	pointer-events: none;
	cursor: default;
}


#backToSchedule a{
	color: #FFF;

}
#pickHistory a {
	color: #362C6A
}

.nav {
	background-color: #801515;
}
.nav-item {
	color: #FFF;
	padding-left: 3rem;

}

.news {
	padding-top: 9rem;
	padding-bottom: 20rem;
	background-color: #362C6A;
	padding-left: 1rem;
	color: #FFF;
}

.news-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	padding-left: 3rem;
}

.pick > img:hover {
	background-color: #736A9E;
}

.pick {
	justify-content: center;
	align-items: center;
}

.pick.current {
	background-color: #2D882D;
}

.pick.current.inProgress {
	background-color: #2D882D;
	pointer-events: none;
	cursor: default;
}

.pick.used {
	background-color: #ff0000;
	pointer-events: none;
	cursor: default;
}

.pick.inProgress {
	background-color: #D3D3D3;
	pointer-events: none;
	cursor: default;
}

.pickHistory {
	alignitems: right;
}

.previous-picks-title {
	padding-left: 3rem;
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #133453;
	padding-left: 3rem;
}

.purple-button {
	background-color: #362C6A;
    color: #FFF;
	}
    .purple-button:hover, .purple-button:focus {
      background-color: #FFF;
      color: #362C6A; 
}

.rules {
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color: #362C6A;
	color: #FFF;
	padding-left: 3rem;

}

.rules-header {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
} 

.settings {
	padding-bottom: 15rem;
	color: #362C6A;
	height: 90vh;

}

.settings-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	padding-left: 3rem;
} 

.schedule {
	padding-top: 6rem;
	background-color: #FFF;
	border-style: none;
	padding-bottom: 10rem;	
}

.schedule-instructions {
	color: #133453;
	font-size: 25px;
}

.schedule-body > tr:nth-child(even) {
	background-color: #362C6A;
	color: #FFF;
}

.schedule-body > tr:nth-child(odd) {
	color: #362C6A;
}

.schedule-header {
	padding-top: 3rem;
	background-color: #133453;
	border-style: none;
	color: #FFF;
}

.schedule-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #362C6A;
	padding-left: 3rem;
}

.signature {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.sign-up {
	padding-top: 6rem;
	display: flex;
	padding-left: 3rem;
}

.signup-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #362C6A;
	padding-left: 3rem;
}

.standings {
	background-color: #362C6A;
	color: #FFF;
	height: 90vh;
}

.standings-header {
	color: #133453;
	border-style: none;
}	

.standings-title {
	padding-left: 3rem;
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #FFF;
	padding-left: 3rem;
}

.standings-body > tr:nth-child(even) {
	background-color: #362C6A;
	color: #FFF;
}

.standings-body > tr:nth-child(odd) {
	color: #362C6A;
}

.title-bar {
	background-color: #133453;
	border
	padding: .5rem;
	padding-left: 3rem;
}

.titlebar-logo {
	font-family: 'Yesteryear', cursive;
	font-size: 40px;
}

#userentry {
	padding-top: 1.5rem;
}
