.sign-up {
	margin: 6rem auto;
	display: flex;
	padding-left: 3rem;
}

.nav {
	background-color: #801515;
}
.nav-item {
	color: #FFF;
	padding-left: 3rem;

}

.title-bar {
	background-color: #133453;
	border
	padding: .5rem;
	padding-left: 3rem;
}

.schedule {
	padding-top: 6rem;
	background-color: #FFF;
	border-style: none;
	padding-bottom: 10rem;
	padding-left: 3rem;
}

.schedule-body > tr:nth-child(even) {
	background-color: #362C6A;
	color: #FFF;
}

.schedule-body > tr:nth-child(odd) {
	color: #362C6A;
}

.schedule-header {
	padding-top: 3rem;
	background-color: #133453;
	border-style: none;
	color: #FFF;
}

.schedule-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #362C6A;
}

.footer-large {
	margin: 6rem;
	text-align: center;
}

.hero-home {
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color: #FFF;
	color: #362C6A;
}

.hero-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	color: #133453;
	padding-left: 3rem;
}

#home > span {
	font-size: 28px;
	font-weight: bold;
	padding-left: 5rem;
}

.rules {
	padding-top: 15rem;
	padding-bottom: 15rem;
	background-color: #362C6A;
	color: #FFF;
	padding-left: 3rem;

}

.settings {
	padding-top: 9rem;
	padding-bottom: 15rem;
	color: #362C6A;
	padding-left: 3rem;

}

.settings-title {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
	padding-left: 3rem;
} 


.rules-header {
	font-family: 'Yesteryear', cursive;
	font-size: 72px;
} 

.alert {
	text-align: center;
}

#userentry {
	padding-top: 1.5rem;
}

.pick:hover {
	background-color: #736A9E;
}

.pick {
	justify-content: center;
	align-items: center;
}