.primary-button {
  @extend .primary-button-base;
  flex-grow: 2;
}

.primary-button-base {
  font-family: $Brawler;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  transition: background .5s;
  background: $off-white;
  color: $purple;
  cursor: pointer;
}

.primary-button:hover {
	color: $off-white;
	background: $orange;
}

.profile-container {
  height: 60px;
  margin-right: 1rem;
  display:flex;
	align-content: column;
}

.profile-name-container {
  font-family: $Brawler;
  padding-left: 20px;
  color: $off-white;
}

.profile-image {
  width: 55px;
  border-radius: 50%;
  border: 2px solid $orange;
}

.logout-link {
  padding-left: 20px;
  font-family: $Brawler;
  color: $orange;
  &:active, &:hover {
    color: $off-white;
  }
}