.team-title {
    font-size: 14px;
    color: $light-color;
    opacity: 0.8;
}

.team-eliminated {
    color: $red;
}

.team-delete-container {
    margin: 0px 12px 12px 12px;
    display: flex;
    flex-direction: row-reverse;
}

.confirmation {
    padding: 9px;
    flex: 1;
    border: solid 2px $red;
    border-radius: 4px;
    background-color: $light-red;
    color: $white;
    font-weight: bold;
    &-link {
        display: flex;

    }
}

.delete-team-link {
    margin: 15px 12px 15px 0px;
    color: $red;
    &:hover, &:active {
        color: $orange;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.delete-team-cancel {
    flex: 1;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 4px;
    color: $purple;
    background-color: $white;
    &:active, &:hover {
        border: 2px solid $white;
        background-color: $orange;
        color: $white;
    }
}

.delete-team-confirm {
    flex: 1;
    text-align: center;
    border: 2px solid $purple;
    border-radius: 4px;
    color: $purple;
    background-color: $white;
    margin-right: 12px;
    &:active, &:hover {
        border: 2px solid $white;
        background-color: $orange;
        color: $white;
    }
}

.pick-container {
    display: flex;
    flex-direction: row;
}

.pick-logo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.active-container {
    margin: 6px 6px 0 0;
    display: flex;
    flex-direction: row-reverse;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}